[Container]
Image=docker.io/bunkerity/bunkerweb:1.6.11
ContainerName=bunker-nginx
Pod=proxy.pod
EnvironmentFile=./configs/bunkerized_nginx.env
EnvironmentFile=./configs/json_analytics.env
Volume=bw-nginx-data:/data:Z
Volume=./configs/json_analytics.conf:/etc/nginx/conf.d/json_analytics.conf:ro,Z
AutoUpdate=registry

[Service]
Restart=on-failure
RestartSec=10s

[Unit]
Requires=bunker-scheduler.service
After=bunker-scheduler.service

[Install]
WantedBy=default.target
