[Container]
Image=docker.io/bunkerity/bunkerweb-scheduler:1.6.11
ContainerName=bunker-scheduler
PodmanArgs=--requires=bunker-nginx \
           --env-file=./configs/bunkerized_nginx.env \
           --env-file=./configs/json_analytics.env \
           --volume=bw-data:/data:Z \
           --restart=always
Network=shared-network

[Install]
WantedBy=default.target
