[Container]
Image=docker.io/grafana/promtail:3
ContainerName=promtail-proxy
Volume=./configs/promtail-proxy.yaml:/etc/promtail/promtail.yaml:ro
Volume=/var/log/journal/:/var/log/journal/:ro
Volume=/run/log/journal/:/run/log/journal/:ro
Volume=/etc/machine-id:/etc/machine-id:ro
Pod=promtail-proxy.pod
AutoUpdate=registry
SecurityLabelDisable=true

[Install]
WantedBy=default.target

[Service]
Restart=on-failure
RestartSec=10s
