# Bunkerweb Configuration — templated by Ansible
# Source: deployment-private/secrets/vars.yml

SERVER_NAME={{ bunker_server_name }}
WHITELIST_COUNTRY={{ bunker_whitelist_country | default('DE CH AT') }}
API_WHITELIST_IP={{ bunker_api_whitelist_ip | default('127.0.0.1 10.0.0.0/8') }}

USE_BUNKERNET=no
USE_MODSECURITY={{ bunker_use_modsecurity | default('no') }}
LIMIT_REQ_RATE={{ bunker_limit_req_rate | default('3r/s') }}
AUTO_LETS_ENCRYPT={{ bunker_auto_lets_encrypt | default('yes') }}
DISABLE_DEFAULT_SERVER=yes

MULTISITE=yes
SERVE_FILES=no
USE_CLIENT_CACHE=yes
USE_GZIP=yes
USE_REVERSE_PROXY=yes

{{ bunker_server_name }}_REVERSE_PROXY_HOST=http://nextcloud-web:80
{{ bunker_server_name }}_REVERSE_PROXY_WS=yes
{{ bunker_server_name }}_MAX_CLIENT_SIZE={{ bunker_max_client_size | default('10G') }}
{{ bunker_server_name }}_USE_CLIENT_CACHE=yes
{{ bunker_server_name }}_ALLOWED_METHODS=GET|POST|HEAD|COPY|DELETE|LOCK|MKCOL|MOVE|PROPFIND|PROPPATCH|PUT|UNLOCK|OPTIONS|REPORT|SEARCH
{{ bunker_server_name }}_X_FRAME_OPTIONS=SAMEORIGIN

{{ bunker_server_name }}_USE_LOGFORMAT=yes
{{ bunker_server_name }}_LOGFORMAT=${JSON_ANALYTICS_LOGFORMAT}
